
<table>

  <tbody>
    <% growers.each do |grower| %>
      <tr>
        <td><%=link_to  grower.name,tenant_grower_path(@tenant,grower) %></td>
        
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


