<div class='nested-fields'>
<div class='row'>
	<div class='col-md-6'>
	     <%=f.collection_select(:lot_id,Lot.where(tenant_id:params[:tenant_id]).order(lot: :DESC),:id,:lot_description,{:prompt=>true},{:class=>'form-control'})%>
     </div>
     <div class='col-md-3'>
		 <%= link_to_remove_association "remove lot", f %>
	 </div> 
 </div>

     <div class='form-group'>
	      <%=f.label :cartons,class:'control-label'%>
		  <%=f.text_field :cartons,class:'form-control'%>
	</div>
 
 </div>