<div class='nested-fields'>
<div class='row'>
	<div class='col-md-6'>
	     <%=f.collection_select(:lot_id,Lot.where(tenant_id:params[:tenant_id]).order(created_at: :DESC),:id,:lot_description,{:prompt=>true},{:class=>'form-control'})%>
     </div>
     <div class='col-md-3'>
	      
		  <%=f.text_field :cartons,class:'form-control',placeholder:"Cartons"%>
	</div>
     <div class='col-md-3'>
		 <%= link_to_remove_association "remove lot", f %>
	 </div> 
 </div>

 
 </div>