<h3>Listing Courses</h3>
<%= link_to 'New Course', new_tenant_course_path(@tenant) %>
<div class='media'>
  <div class='media-body'>
<table class='table table-hover'>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name,tenant_course_shift_lists_path(@tenant,course) %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
</div>

